version: '3.8'

services:
  db:
    image: postgres:15
    container_name: hh_db
    restart: always
    env_file:
      - backend/.env
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: hh_backend
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - backend/.env